In [1]:
import pandas as pd
import tabula
import numpy as np

## Read reports
Note: Each report contains data for the previous year

In [2]:
file_path = "/Users/ziza/Documents/Coding/GitHub/World_Happiness_Report/Source Data/"

### Clean report 2022

In [205]:
df_2022 = pd.read_excel(file_path + "2022.xls")
df_2022.head()

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,7.8210,7.886425,7.755575,2.518052,1.891628,1.258108,0.775206,0.735590,0.108733,0.533658
1,2,Denmark,7.6362,7.709897,7.562503,2.225632,1.952595,1.242681,0.776644,0.718918,0.187626,0.532079
2,3,Iceland,7.5575,7.651076,7.463924,2.320185,1.935726,1.319914,0.802622,0.718194,0.269616,0.191204
3,4,Switzerland,7.5116,7.586394,7.436806,2.152746,2.025970,1.226074,0.822048,0.676947,0.146822,0.461004
4,5,Netherlands,7.4149,7.471265,7.358534,2.136937,1.944578,1.205848,0.786738,0.650682,0.271076,0.419083

In [209]:
df_2022.dtypes

RANK                                            int64
Country                                        object
Happiness score                               float64
Whisker-high                                  float64
Whisker-low                                   float64
Dystopia (1.83) + residual                    float64
Explained by: GDP per capita                  float64
Explained by: Social support                  float64
Explained by: Healthy life expectancy         float64
Explained by: Freedom to make life choices    float64
Explained by: Generosity                      float64
Explained by: Perceptions of corruption       float64
Dystopia                                      float64
dtype: object

In [210]:
# Calculate Dystopia and residual in separate columns
# Paste reported year
df_2022['Dystopia'] = 1.83
df_2022['Residual'] = df_2022['Dystopia (1.83) + residual'] - 1.83
df_2022['Year'] = 2021
df_2022.head()

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia,Residual,Year
0,1,Finland,7.8210,7.886425,7.755575,2.518052,1.891628,1.258108,0.775206,0.735590,0.108733,0.533658,1.83,0.688052,2021
1,2,Denmark,7.6362,7.709897,7.562503,2.225632,1.952595,1.242681,0.776644,0.718918,0.187626,0.532079,1.83,0.395632,2021
2,3,Iceland,7.5575,7.651076,7.463924,2.320185,1.935726,1.319914,0.802622,0.718194,0.269616,0.191204,1.83,0.490185,2021
3,4,Switzerland,7.5116,7.586394,7.436806,2.152746,2.025970,1.226074,0.822048,0.676947,0.146822,0.461004,1.83,0.322746,2021
4,5,Netherlands,7.4149,7.471265,7.358534,2.136937,1.944578,1.205848,0.786738,0.650682,0.271076,0.419083,1.83,0.306937,2021

In [237]:
# All reports should have the same columns
rename_col = ['Country', 'Year',
    'Happiness score', 'Dystopia', 'Residual', 
    'Explained by: GDP per capita',
    'Explained by: Social support',
    'Explained by: Healthy life expectancy',
    'Explained by: Freedom to make life choices',
    'Explained by: Generosity',
    'Explained by: Perceptions of corruption']

In [238]:
# drop unnecessary columns
col = ['Country', 'Year',
    'Happiness score', 'Dystopia', 'Residual', 
    'Explained by: GDP per capita',
    'Explained by: Social support',
    'Explained by: Healthy life expectancy',
    'Explained by: Freedom to make life choices',
    'Explained by: Generosity',
    'Explained by: Perceptions of corruption']
df_2022 = df_2022[col].rename(columns=dict(zip(col, rename_col)))
df_2022.head()

,Country,Year,Happiness score,Dystopia,Residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,2021,7.8210,1.83,0.688052,1.891628,1.258108,0.775206,0.735590,0.108733,0.533658
1,Denmark,2021,7.6362,1.83,0.395632,1.952595,1.242681,0.776644,0.718918,0.187626,0.532079
2,Iceland,2021,7.5575,1.83,0.490185,1.935726,1.319914,0.802622,0.718194,0.269616,0.191204
3,Switzerland,2021,7.5116,1.83,0.322746,2.025970,1.226074,0.822048,0.676947,0.146822,0.461004
4,Netherlands,2021,7.4149,1.83,0.306937,1.944578,1.205848,0.786738,0.650682,0.271076,0.419083

### Clean report 2021

In [213]:
df_2021 = pd.read_excel(file_path + "2021.xls")
df_2021.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8421,0.031646,7.904126,7.780075,10.775202,0.953603,72.000000,0.949268,-0.097760,0.185846,2.430343,1.446356,1.106192,0.740824,0.690577,0.124200,0.480524,3.253415
1,Denmark,Western Europe,7.6195,0.034657,7.687428,7.551572,10.933176,0.954410,72.699753,0.945639,0.030109,0.178838,2.430343,1.501548,1.108008,0.762862,0.686160,0.207615,0.484993,2.868296
2,Switzerland,Western Europe,7.5715,0.036243,7.642536,7.500463,11.117368,0.941742,74.400101,0.918788,0.024629,0.291698,2.430343,1.565899,1.079469,0.816415,0.653488,0.204040,0.413019,2.839148
3,Iceland,Western Europe,7.5539,0.059373,7.670271,7.437528,10.877768,0.982938,73.000000,0.955123,0.160274,0.672865,2.430343,1.482190,1.172279,0.772319,0.697701,0.292526,0.169940,2.966945
4,Netherlands,Western Europe,7.4640,0.027326,7.517559,7.410441,10.931812,0.941601,72.400116,0.913116,0.175404,0.337938,2.430343,1.501072,1.079151,0.753425,0.646585,0.302397,0.383531,2.797818

In [214]:
df_2021.dtypes

Country name                                   object
Regional indicator                             object
Ladder score                                  float64
Standard error of ladder score                float64
upperwhisker                                  float64
lowerwhisker                                  float64
Logged GDP per capita                         float64
Social support                                float64
Healthy life expectancy                       float64
Freedom to make life choices                  float64
Generosity                                    float64
Perceptions of corruption                     float64
Ladder score in Dystopia                      float64
Explained by: Log GDP per capita              float64
Explained by: Social support                  float64
Explained by: Healthy life expectancy         float64
Explained by: Freedom to make life choices    float64
Explained by: Generosity                      float64
Explained by: Perceptions of corruption       float64
Dystopia + residual                           float64
dtype: object

In [215]:
# Calculate Residual in separate column
# Paste reported year
df_2021['Residual'] = df_2021['Dystopia + residual'] - df_2021['Ladder score in Dystopia']
df_2021['Year'] = 2020
df_2021.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,...,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,Residual,Year
0,Finland,Western Europe,7.8421,0.031646,7.904126,7.780075,10.775202,0.953603,72.000000,0.949268,...,2.430343,1.446356,1.106192,0.740824,0.690577,0.124200,0.480524,3.253415,0.823072,2020
1,Denmark,Western Europe,7.6195,0.034657,7.687428,7.551572,10.933176,0.954410,72.699753,0.945639,...,2.430343,1.501548,1.108008,0.762862,0.686160,0.207615,0.484993,2.868296,0.437953,2020
2,Switzerland,Western Europe,7.5715,0.036243,7.642536,7.500463,11.117368,0.941742,74.400101,0.918788,...,2.430343,1.565899,1.079469,0.816415,0.653488,0.204040,0.413019,2.839148,0.408805,2020
3,Iceland,Western Europe,7.5539,0.059373,7.670271,7.437528,10.877768,0.982938,73.000000,0.955123,...,2.430343,1.482190,1.172279,0.772319,0.697701,0.292526,0.169940,2.966945,0.536602,2020
4,Netherlands,Western Europe,7.4640,0.027326,7.517559,7.410441,10.931812,0.941601,72.400116,0.913116,...,2.430343,1.501072,1.079151,0.753425,0.646585,0.302397,0.383531,2.797818,0.367475,2020

In [224]:
# Drop unnecessary columns
# Rename columns to align with other dfs
col = ['Country name', 'Year',  
    'Ladder score', 'Ladder score in Dystopia', 
    'Residual', 'Explained by: Log GDP per capita',
    'Explained by: Social support',
    'Explained by: Healthy life expectancy',
    'Explained by: Freedom to make life choices',
    'Explained by: Generosity',
    'Explained by: Perceptions of corruption']
df_2021 = df_2021[col].rename(columns=dict(zip(col, rename_col)))
df_2021.head()

,Country,Year,Happiness score,Dystopia,Residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,2020,7.8421,2.430343,0.823072,1.446356,1.106192,0.740824,0.690577,0.124200,0.480524
1,Denmark,2020,7.6195,2.430343,0.437953,1.501548,1.108008,0.762862,0.686160,0.207615,0.484993
2,Switzerland,2020,7.5715,2.430343,0.408805,1.565899,1.079469,0.816415,0.653488,0.204040,0.413019
3,Iceland,2020,7.5539,2.430343,0.536602,1.482190,1.172279,0.772319,0.697701,0.292526,0.169940
4,Netherlands,2020,7.4640,2.430343,0.367475,1.501072,1.079151,0.753425,0.646585,0.302397,0.383531

### Clean report 2020

In [227]:
df_2020 = pd.read_excel(file_path + "2020.xls")
df_2020.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900826,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

In [228]:
df_2020.dtypes

Country name                                   object
Regional indicator                             object
Ladder score                                  float64
Standard error of ladder score                float64
upperwhisker                                  float64
lowerwhisker                                  float64
Logged GDP per capita                         float64
Social support                                float64
Healthy life expectancy                       float64
Freedom to make life choices                  float64
Generosity                                    float64
Perceptions of corruption                     float64
Ladder score in Dystopia                      float64
Explained by: Log GDP per capita              float64
Explained by: Social support                  float64
Explained by: Healthy life expectancy         float64
Explained by: Freedom to make life choices    float64
Explained by: Generosity                      float64
Explained by: Perceptions of corruption       float64
Dystopia + residual                           float64
dtype: object

In [229]:
# Calculate Residual in separate column
# Paste reported year
df_2020['Residual'] = df_2020['Dystopia + residual'] - df_2020['Ladder score in Dystopia']
df_2020['Year'] = 2019
df_2020.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,...,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,Residual,Year
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900826,0.949172,...,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835,0.790518,2019
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,...,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741,0.460424,2019
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,...,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267,0.377951,2019
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,...,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688,0.488371,2019
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,...,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266,0.195950,2019

In [230]:
# Drop unnecessary columns
# Rename columns to align with other dfs
col = ['Country name', 'Year',  
    'Ladder score', 'Ladder score in Dystopia', 
    'Residual', 'Explained by: Log GDP per capita',
    'Explained by: Social support',
    'Explained by: Healthy life expectancy',
    'Explained by: Freedom to make life choices',
    'Explained by: Generosity',
    'Explained by: Perceptions of corruption']
df_2020 = df_2020[col].rename(columns=dict(zip(col, rename_col)))
df_2020.head()

,Country,Year,Happiness score,Dystopia,Residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,2019,7.8087,1.972317,0.790518,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857
1,Denmark,2019,7.6456,1.972317,0.460424,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260
2,Switzerland,2019,7.5599,1.972317,0.377951,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946
3,Iceland,2019,7.5045,1.972317,0.488371,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541
4,Norway,2019,7.4880,1.972317,0.195950,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101

### Clean report 2019

In [231]:
df_2019 = pd.read_excel(file_path + "2019.xls", 'Figure2.6')
df_2019.head()

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.88) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.7689,7.829888,7.707912,2.713678,1.340243,1.587276,0.986145,0.595895,0.152708,0.392913
1,Denmark,7.6001,7.666658,7.533542,2.392891,1.383439,1.572595,0.996019,0.592356,0.252320,0.410473
2,Norway,7.5539,7.615639,7.492160,2.240764,1.487767,1.581548,1.028123,0.603500,0.271304,0.340884
3,Iceland,7.4936,7.613283,7.373917,2.400876,1.380163,1.623651,1.025653,0.590905,0.354356,0.117980
4,Netherlands,7.4876,7.542098,7.433102,2.392895,1.396020,1.521903,0.999314,0.557075,0.322440,0.297978

In [232]:
df_2019.dtypes

Country                                        object
Happiness score                               float64
Whisker-high                                  float64
Whisker-low                                   float64
Dystopia (1.88) + residual                    float64
Explained by: GDP per capita                  float64
Explained by: Social support                  float64
Explained by: Healthy life expectancy         float64
Explained by: Freedom to make life choices    float64
Explained by: Generosity                      float64
Explained by: Perceptions of corruption       float64
dtype: object

In [234]:
# Calculate Dystopia and Residual in separate columns
# Paste reported year
df_2019['Dystopia'] = 1.88
df_2019['Residual'] = df_2019['Dystopia (1.88) + residual'] - 1.88
df_2019['Year'] = 2018
df_2019.head()

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.88) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia,Residual,Year
0,Finland,7.7689,7.829888,7.707912,2.713678,1.340243,1.587276,0.986145,0.595895,0.152708,0.392913,1.88,0.833678,2018
1,Denmark,7.6001,7.666658,7.533542,2.392891,1.383439,1.572595,0.996019,0.592356,0.252320,0.410473,1.88,0.512891,2018
2,Norway,7.5539,7.615639,7.492160,2.240764,1.487767,1.581548,1.028123,0.603500,0.271304,0.340884,1.88,0.360764,2018
3,Iceland,7.4936,7.613283,7.373917,2.400876,1.380163,1.623651,1.025653,0.590905,0.354356,0.117980,1.88,0.520876,2018
4,Netherlands,7.4876,7.542098,7.433102,2.392895,1.396020,1.521903,0.999314,0.557075,0.322440,0.297978,1.88,0.512895,2018

In [239]:
# Drop unnecessary columns
# Rename columns to align with other dfs
col = ['Country', 'Year',  
    'Happiness score', 'Dystopia', 
    'Residual', 'Explained by: GDP per capita',
    'Explained by: Social support',
    'Explained by: Healthy life expectancy',
    'Explained by: Freedom to make life choices',
    'Explained by: Generosity',
    'Explained by: Perceptions of corruption']
df_2019 = df_2019[col].rename(columns=dict(zip(col, rename_col)))
df_2019.head()

,Country,Year,Happiness score,Dystopia,Residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,2018,7.7689,1.88,0.833678,1.340243,1.587276,0.986145,0.595895,0.152708,0.392913
1,Denmark,2018,7.6001,1.88,0.512891,1.383439,1.572595,0.996019,0.592356,0.252320,0.410473
2,Norway,2018,7.5539,1.88,0.360764,1.487767,1.581548,1.028123,0.603500,0.271304,0.340884
3,Iceland,2018,7.4936,1.88,0.520876,1.380163,1.623651,1.025653,0.590905,0.354356,0.117980
4,Netherlands,2018,7.4876,1.88,0.512895,1.396020,1.521903,0.999314,0.557075,0.322440,0.297978

### Clean report 2018

In [240]:
df_2018 = pd.read_excel(file_path + "2018.xls", "Figure2.2")
df_2018.head()

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Finland,7.6321,7.694913,7.569287,2.595186,1.305095,1.592134,0.874454,0.680633,0.191638,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,country
1,Norway,7.5937,7.657077,7.530323,2.383242,1.455627,1.582340,0.860763,0.686420,0.285636,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Finland
2,Denmark,7.5553,7.623292,7.487309,2.370179,1.351153,1.590453,0.867933,0.683251,0.284392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Iceland,7.4952,7.592534,7.397867,2.425990,1.343301,1.644378,0.913802,0.676502,0.353233,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark
4,Switzerland,7.4873,7.569994,7.404606,2.319529,1.419727,1.548998,0.927076,0.659779,0.255525,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Iceland

In [242]:
df_2018.dtypes

Country                                        object
Happiness score                               float64
Whisker-high                                  float64
Whisker-low                                   float64
Dystopia (1.92) + residual                    float64
Explained by: GDP per capita                  float64
Explained by: Social support                  float64
Explained by: Healthy life expectancy         float64
Explained by: Freedom to make life choices    float64
Explained by: Generosity                      float64
Explained by: Perceptions of corruption       float64
Unnamed: 11                                   float64
Unnamed: 12                                   float64
Unnamed: 13                                   float64
Unnamed: 14                                   float64
Unnamed: 15                                   float64
Unnamed: 16                                   float64
Unnamed: 17                                   float64
Unnamed: 18                                   float64
Unnamed: 19                                   float64
Unnamed: 20                                   float64
Unnamed: 21                                   float64
Unnamed: 22                                   float64
Unnamed: 23                                    object
dtype: object

In [244]:
# Calculate Dystopia and Residual in separate columns
# Paste reported year
df_2018['Dystopia'] = 1.92
df_2018['Residual'] = df_2018['Dystopia (1.92) + residual'] - 1.92
df_2018['Year'] = 2017
df_2018.head()

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Dystopia,Residual,Year
0,Finland,7.6321,7.694913,7.569287,2.595186,1.305095,1.592134,0.874454,0.680633,0.191638,...,NaN,NaN,NaN,NaN,NaN,NaN,country,1.92,0.675186,2017
1,Norway,7.5937,7.657077,7.530323,2.383242,1.455627,1.582340,0.860763,0.686420,0.285636,...,NaN,NaN,NaN,NaN,NaN,NaN,Finland,1.92,0.463242,2017
2,Denmark,7.5553,7.623292,7.487309,2.370179,1.351153,1.590453,0.867933,0.683251,0.284392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.92,0.450179,2017
3,Iceland,7.4952,7.592534,7.397867,2.425990,1.343301,1.644378,0.913802,0.676502,0.353233,...,NaN,NaN,NaN,NaN,NaN,NaN,Denmark,1.92,0.505990,2017
4,Switzerland,7.4873,7.569994,7.404606,2.319529,1.419727,1.548998,0.927076,0.659779,0.255525,...,NaN,NaN,NaN,NaN,NaN,NaN,Iceland,1.92,0.399529,2017

In [245]:
# Drop unnecessary columns
# Rename columns to align with other dfs
col = ['Country', 'Year',  
    'Happiness score', 'Dystopia', 
    'Residual', 'Explained by: GDP per capita',
    'Explained by: Social support',
    'Explained by: Healthy life expectancy',
    'Explained by: Freedom to make life choices',
    'Explained by: Generosity',
    'Explained by: Perceptions of corruption']
df_2018 = df_2018[col].rename(columns=dict(zip(col, rename_col)))
df_2018.head()

,Country,Year,Happiness score,Dystopia,Residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,2017,7.6321,1.92,0.675186,1.305095,1.592134,0.874454,0.680633,0.191638,0.392961
1,Norway,2017,7.5937,1.92,0.463242,1.455627,1.582340,0.860763,0.686420,0.285636,0.339687
2,Denmark,2017,7.5553,1.92,0.450179,1.351153,1.590453,0.867933,0.683251,0.284392,0.407917
3,Iceland,2017,7.4952,1.92,0.505990,1.343301,1.644378,0.913802,0.676502,0.353233,0.138019
4,Switzerland,2017,7.4873,1.92,0.399529,1.419727,1.548998,0.927076,0.659779,0.255525,0.356677

### Clean report 2017

In [246]:
df_2017 = pd.read_excel(file_path + "2017.xlsx",'Figure2.2 WHR 2017')
df_2017.head()

,Country,Happiness score,Whisker-high,Whisker-low,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia (1.85) + residual
0,Norway,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [247]:
df_2017.dtypes

Country                                        object
Happiness score                               float64
Whisker-high                                  float64
Whisker-low                                   float64
Explained by: GDP per capita                  float64
Explained by: Social support                  float64
Explained by: Healthy life expectancy         float64
Explained by: Freedom to make life choices    float64
Explained by: Generosity                      float64
Explained by: Perceptions of corruption       float64
Dystopia (1.85) + residual                    float64
dtype: object

In [248]:
# Calculate Dystopia and Residual in separate columns
# Paste reported year
df_2017['Dystopia'] = 1.85
df_2017['Residual'] = df_2017['Dystopia (1.85) + residual'] - 1.85
df_2017['Year'] = 2016
df_2017.head()

,Country,Happiness score,Whisker-high,Whisker-low,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia (1.85) + residual,Dystopia,Residual,Year
0,Norway,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,1.85,0.427027,2016
1,Denmark,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,1.85,0.463707,2016
2,Iceland,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,1.85,0.472715,2016
3,Switzerland,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,1.85,0.426716,2016
4,Finland,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,1.85,0.580182,2016

In [249]:
# Drop unnecessary columns
# Rename columns to align with other dfs
col = ['Country', 'Year',  
    'Happiness score', 'Dystopia', 
    'Residual', 'Explained by: GDP per capita',
    'Explained by: Social support',
    'Explained by: Healthy life expectancy',
    'Explained by: Freedom to make life choices',
    'Explained by: Generosity',
    'Explained by: Perceptions of corruption']
df_2017 = df_2017[col].rename(columns=dict(zip(col, rename_col)))
df_2017.head()

,Country,Year,Happiness score,Dystopia,Residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Norway,2016,7.537,1.85,0.427027,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2016,7.522,1.85,0.463707,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,2016,7.504,1.85,0.472715,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,2016,7.494,1.85,0.426716,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,2016,7.469,1.85,0.580182,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

### Clean report 2016

In [250]:
df_2016 = pd.read_excel(file_path + "2016.xlsx", "Figure2.2")
df_2016.head()

,Country,Happiness score,Whisker-high,Whisker-low,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia (2.33) + residual,Unnamed: 11,Unnamed: 12,Figure 2.2: Ranking of Happiness 2013-2015
0,Denmark,7.526,7.591507,7.460493,1.441784,1.163745,0.795040,0.579413,0.361710,0.444532,2.739390,NaN,NaN,NaN
1,Switzerland,7.509,7.589791,7.428208,1.527334,1.145236,0.863029,0.585572,0.280825,0.412033,2.694632,NaN,NaN,NaN
2,Iceland,7.501,7.669368,7.332632,1.426655,1.183259,0.867333,0.566242,0.476784,0.149747,2.831373,NaN,NaN,NaN
3,Norway,7.498,7.574923,7.421077,1.577440,1.126896,0.795789,0.596086,0.378948,0.357758,2.664645,NaN,NaN,NaN
4,Finland,7.413,7.474935,7.351065,1.405979,1.134640,0.810914,0.571037,0.254919,0.410040,2.825965,NaN,NaN,NaN

In [251]:
df_2016.dtypes

Country                                        object
Happiness score                               float64
Whisker-high                                  float64
Whisker-low                                   float64
Explained by: GDP per capita                  float64
Explained by: Social support                  float64
Explained by: Healthy life expectancy         float64
Explained by: Freedom to make life choices    float64
Explained by: Generosity                      float64
Explained by: Perceptions of corruption       float64
Dystopia (2.33) + residual                    float64
Unnamed: 11                                   float64
Unnamed: 12                                   float64
Figure 2.2: Ranking of Happiness 2013-2015    float64
dtype: object

In [252]:
# Calculate Dystopia and Residual in separate columns
# Paste reported year
df_2016['Dystopia'] = 2.33
df_2016['Residual'] = df_2016['Dystopia (2.33) + residual'] - 2.33
df_2016['Year'] = 2015
df_2016.head()

,Country,Happiness score,Whisker-high,Whisker-low,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia (2.33) + residual,Unnamed: 11,Unnamed: 12,Figure 2.2: Ranking of Happiness 2013-2015,Dystopia,Residual,Year
0,Denmark,7.526,7.591507,7.460493,1.441784,1.163745,0.795040,0.579413,0.361710,0.444532,2.739390,NaN,NaN,NaN,2.33,0.409390,2015
1,Switzerland,7.509,7.589791,7.428208,1.527334,1.145236,0.863029,0.585572,0.280825,0.412033,2.694632,NaN,NaN,NaN,2.33,0.364632,2015
2,Iceland,7.501,7.669368,7.332632,1.426655,1.183259,0.867333,0.566242,0.476784,0.149747,2.831373,NaN,NaN,NaN,2.33,0.501373,2015
3,Norway,7.498,7.574923,7.421077,1.577440,1.126896,0.795789,0.596086,0.378948,0.357758,2.664645,NaN,NaN,NaN,2.33,0.334645,2015
4,Finland,7.413,7.474935,7.351065,1.405979,1.134640,0.810914,0.571037,0.254919,0.410040,2.825965,NaN,NaN,NaN,2.33,0.495965,2015

In [253]:
# Drop unnecessary columns
# Rename columns to align with other dfs
col = ['Country', 'Year',  
    'Happiness score', 'Dystopia', 
    'Residual', 'Explained by: GDP per capita',
    'Explained by: Social support',
    'Explained by: Healthy life expectancy',
    'Explained by: Freedom to make life choices',
    'Explained by: Generosity',
    'Explained by: Perceptions of corruption']
df_2016 = df_2016[col].rename(columns=dict(zip(col, rename_col)))
df_2016.head()

,Country,Year,Happiness score,Dystopia,Residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Denmark,2015,7.526,2.33,0.409390,1.441784,1.163745,0.795040,0.579413,0.361710,0.444532
1,Switzerland,2015,7.509,2.33,0.364632,1.527334,1.145236,0.863029,0.585572,0.280825,0.412033
2,Iceland,2015,7.501,2.33,0.501373,1.426655,1.183259,0.867333,0.566242,0.476784,0.149747
3,Norway,2015,7.498,2.33,0.334645,1.577440,1.126896,0.795789,0.596086,0.378948,0.357758
4,Finland,2015,7.413,2.33,0.495965,1.405979,1.134640,0.810914,0.571037,0.254919,0.410040

### Clean report 2015

In [254]:
df_2015 = pd.read_excel(file_path + "2015.xlsx", "Data for Figure2.2", skiprows=[0,1,2])
df_2015.head()

,WP5 Country,country,Regional indicator,Ladder score,Standard error of ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,...,Trust in national government,Democratic Quality 2012,Delivery Quality 2012,"Most people can be trusted, Gallup, mostly 2009-10","Most people can be trusted, WVS round 1981-1984","Most people can be trusted, WVS round 1989-1993","Most people can be trusted, WVS round 1994-1998","Most people can be trusted, WVS round 1999-2004","Most people can be trusted, WVS round 2005-2009","Most people can be trusted, WVS round 2010-2014"
0,184 Switzerland,Switzerland,Western Europe,7.587,0.034112,10.857283,0.953136,72.736862,0.947724,0.080692,...,0.758919,1.534588,1.876428,0.437882,NaN,0.265255,0.378479,NaN,0.518936,NaN
1,130 Iceland,Iceland,Western Europe,7.561,0.048836,10.568534,0.975240,72.968559,0.912811,0.257895,...,0.322590,1.337266,1.521620,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,025 Denmark,Denmark,Western Europe,7.527,0.033283,10.639521,0.957780,70.323395,0.932365,0.137351,...,0.465453,1.299623,2.000511,0.667515,NaN,NaN,NaN,NaN,NaN,NaN
3,160 Norway,Norway,Western Europe,7.522,0.038802,11.048872,0.945359,70.705254,0.951669,0.144468,...,0.688396,1.531618,1.903925,NaN,NaN,NaN,0.647737,NaN,0.737305,NaN
4,046 Canada,Canada,North America and ANZ,7.427,0.035526,10.642016,0.941860,71.443192,0.916792,0.285598,...,0.492211,1.268314,1.780549,0.450844,NaN,NaN,NaN,0.385469,0.418500,NaN

In [257]:
df_2015.columns

Index(['WP5 Country', 'country', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Dystopia + residual', 'Explained by: Log GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Trust in national government', 'Democratic Quality 2012',
       'Delivery Quality 2012',
       'Most people can be trusted, Gallup, mostly 2009-10',
       'Most people can be trusted, WVS round 1981-1984',
       'Most people can be trusted, WVS round 1989-1993',
       'Most people can be trusted, WVS round 1994-1998',
       'Most people can be trusted, WVS round 1999-2004',
       'Most people can be trusted, WVS round 2005-2009',
       'Most people can be trusted, WVS round 2010-2014'],
      dtype='object')

In [259]:
# Calculate Residual in separate columns
# Paste reported year
df_2015['Residual'] = df_2015['Dystopia + residual'] - df_2015['Ladder score in Dystopia']
df_2015['Year'] = 2014
df_2015.head()

,WP5 Country,country,Regional indicator,Ladder score,Standard error of ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,...,Delivery Quality 2012,"Most people can be trusted, Gallup, mostly 2009-10","Most people can be trusted, WVS round 1981-1984","Most people can be trusted, WVS round 1989-1993","Most people can be trusted, WVS round 1994-1998","Most people can be trusted, WVS round 1999-2004","Most people can be trusted, WVS round 2005-2009","Most people can be trusted, WVS round 2010-2014",Residual,Year
0,184 Switzerland,Switzerland,Western Europe,7.587,0.034112,10.857283,0.953136,72.736862,0.947724,0.080692,...,1.876428,0.437882,NaN,0.265255,0.378479,NaN,0.518936,NaN,0.418407,2014
1,130 Iceland,Iceland,Western Europe,7.561,0.048836,10.568534,0.975240,72.968559,0.912811,0.257895,...,1.521620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.603037,2014
2,025 Denmark,Denmark,Western Europe,7.527,0.033283,10.639521,0.957780,70.323395,0.932365,0.137351,...,2.000511,0.667515,NaN,NaN,NaN,NaN,NaN,NaN,0.393065,2014
3,160 Norway,Norway,Western Europe,7.522,0.038802,11.048872,0.945359,70.705254,0.951669,0.144468,...,1.903925,NaN,NaN,NaN,0.647737,NaN,0.737305,NaN,0.366335,2014
4,046 Canada,Canada,North America and ANZ,7.427,0.035526,10.642016,0.941860,71.443192,0.916792,0.285598,...,1.780549,0.450844,NaN,NaN,NaN,0.385469,0.418500,NaN,0.352779,2014

In [260]:
# Drop unnecessary columns
# Rename columns to align with other dfs
col = ['country', 'Year',  
    'Ladder score', 'Ladder score in Dystopia', 
    'Residual', 'Explained by: Log GDP per capita',
    'Explained by: Social support',
    'Explained by: Healthy life expectancy',
    'Explained by: Freedom to make life choices',
    'Explained by: Generosity',
    'Explained by: Perceptions of corruption']
df_2015 = df_2015[col].rename(columns=dict(zip(col, rename_col)))
df_2015.head()

,Country,Year,Happiness score,Dystopia,Residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Switzerland,2014,7.587,2.098976,0.418407,1.396505,1.349505,0.941432,0.665573,0.296775,0.419777
1,Iceland,2014,7.561,2.098976,0.603037,1.302324,1.402231,0.947844,0.628772,0.436297,0.141451
2,Denmark,2014,7.527,2.098976,0.393065,1.325478,1.360581,0.874641,0.649384,0.341386,0.483573
3,Norway,2014,7.522,2.098976,0.366335,1.458997,1.330955,0.885209,0.669732,0.346989,0.365034
4,Canada,2014,7.427,2.098976,0.352779,1.326292,1.322608,0.905631,0.632968,0.458109,0.329573

### Clean report 2013 (pdf)

In [262]:
tab_2013=tabula.read_pdf(file_path+"2013.pdf", pages="1-6", pandas_options={'header': None})

In [263]:
# Output is a list of dataframes
type(tab_2013)

list

In [264]:
# The last dataframe captured also the next table
tab_2013[5]

,0,1,2,3,4,5,6,7,8,9,10,11
0,United States 7,7.082,0.917,0.834,0.698,0.621,0.191,0.844,0.254,0.877,42068,69.689
1,Uruguay 6,6.355,0.883,0.852,0.537,0.273,-0.066,0.800,0.232,0.750,12538,66.434
2,Uzbekistan 2,5.623,0.920,0.924,0.597,0.226,-0.005,0.783,0.131,0.786,2756,60.176
3,Venezuela 6,7.039,0.931,0.780,0.755,0.136,-0.196,0.849,0.168,0.808,11182,65.104
4,Vietnam 3,5.533,0.809,0.841,0.766,0.211,-0.024,0.613,0.213,0.637,2905,62.188
5,Yemen 8,4.054,0.683,0.668,0.836,0.080,-0.142,0.518,0.281,0.551,2235,50.780
6,Zambia 9,5.006,0.822,0.726,0.846,0.211,0.027,0.780,0.227,0.792,1416,37.099
7,Zimbabwe 9,4.827,0.873,0.590,0.842,0.094,0.018,0.733,0.170,0.728,309,37.143
8,Notes for region code: 0. Western Europe; 1. C...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,South Asia; 5. East Asia; 6. Latin America & C...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Table A3. National Averages in 2005-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,Social,NaN,NaN,NaN,NaN,Positive,Negative,GDP per,Healthy life,NaN
12,Country Region,Ladder,support,Freedom Corruption Donation,NaN,NaN,Generosity,affect,affect,capita,NaN,expectancy
13,Afghanistan 4,4.051,0.566,0.738,0.744,0.527,0.395,0.644,NaN,0.217 688.215,NaN,35.270
14,Albania 1,4.634,0.821,0.529,0.875,0.272,-0.019,0.553,0.246,6376.64,NaN,61.000
15,Angola 9,4.151,0.772,0.632,0.895,0.334,0.089,0.629,0.322,3354.65,NaN,33.210
16,Argentina 6,6.193,0.900,0.693,0.869,0.192,-0.140,0.826,0.304,11240.4,NaN,64.920
17,Armenia 2,4.586,0.708,0.549,0.847,0.039,-0.226,0.501,0.440,4363.83,NaN,60.919
18,Australia 7,7.310,0.967,0.916,0.433,0.739,0.331,0.834,0.226,32478.9,NaN,72.298
19,Austria 0,7.122,0.936,0.941,0.478,0.705,0.295,0.823,0.174,33626.4,NaN,71.365
20,Azerbaijan 2,4.649,0.820,0.693,0.814,0.062,-0.207,0.516,0.280,5238.69,NaN,57.340
21,Bangladesh 4,4.473,0.587,0.608,0.798,0.239,0.067,0.618,NaN,0.317,1195.5,53.858
22,Belarus 2,5.637,0.898,0.693,0.697,0.069,-0.243,0.601,0.252,9101.46,NaN,60.653
23,Belgium 0,7.240,0.928,0.912,0.666,0.468,0.060,0.805,0.239,32320.1,NaN,70.643
24,Belize 6,6.451,0.872,0.705,0.770,0.296,0.005,0.759,NaN,0.251 6337.18,NaN,60.000
25,Benin 9,3.330,0.445,0.580,0.769,0.179,-0.003,0.587,0.309,1371.34,NaN,43.738
26,Bolivia 6,5.500,0.815,0.775,0.801,0.227,-0.027,0.755,0.410,3828.53,NaN,54.367
27,Bosnia and,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Herzegovina 1,4.900,0.766,0.342,0.929,0.296,0.001,0.613,0.296,6732.96,NaN,64.000
29,Botswana 9,4.739,0.883,0.824,0.731,0.111,-0.222,0.688,0.226,11542.2,NaN,34.965

In [265]:
# drop rows with unwanted table
tab_2013[5].drop(index=np.arange(8,30), axis=0, inplace=True)
tab_2013[5]

,0,1,2,3,4,5,6,7,8,9,10,11
0,United States 7,7.082,0.917,0.834,0.698,0.621,0.191,0.844,0.254,0.877,42068,69.689
1,Uruguay 6,6.355,0.883,0.852,0.537,0.273,-0.066,0.800,0.232,0.750,12538,66.434
2,Uzbekistan 2,5.623,0.920,0.924,0.597,0.226,-0.005,0.783,0.131,0.786,2756,60.176
3,Venezuela 6,7.039,0.931,0.780,0.755,0.136,-0.196,0.849,0.168,0.808,11182,65.104
4,Vietnam 3,5.533,0.809,0.841,0.766,0.211,-0.024,0.613,0.213,0.637,2905,62.188
5,Yemen 8,4.054,0.683,0.668,0.836,0.080,-0.142,0.518,0.281,0.551,2235,50.780
6,Zambia 9,5.006,0.822,0.726,0.846,0.211,0.027,0.780,0.227,0.792,1416,37.099
7,Zimbabwe 9,4.827,0.873,0.590,0.842,0.094,0.018,0.733,0.170,0.728,309,37.143

In [266]:
# split first column to Country and Region
tab_2013[5][['Country', 'Region']]=tab_2013[5][0].str.rsplit(' ', n=1, expand=True)
tab_2013[5]

,0,1,2,3,4,5,6,7,8,9,10,11,Country,Region
0,United States 7,7.082,0.917,0.834,0.698,0.621,0.191,0.844,0.254,0.877,42068,69.689,United States,7
1,Uruguay 6,6.355,0.883,0.852,0.537,0.273,-0.066,0.800,0.232,0.750,12538,66.434,Uruguay,6
2,Uzbekistan 2,5.623,0.920,0.924,0.597,0.226,-0.005,0.783,0.131,0.786,2756,60.176,Uzbekistan,2
3,Venezuela 6,7.039,0.931,0.780,0.755,0.136,-0.196,0.849,0.168,0.808,11182,65.104,Venezuela,6
4,Vietnam 3,5.533,0.809,0.841,0.766,0.211,-0.024,0.613,0.213,0.637,2905,62.188,Vietnam,3
5,Yemen 8,4.054,0.683,0.668,0.836,0.080,-0.142,0.518,0.281,0.551,2235,50.780,Yemen,8
6,Zambia 9,5.006,0.822,0.726,0.846,0.211,0.027,0.780,0.227,0.792,1416,37.099,Zambia,9
7,Zimbabwe 9,4.827,0.873,0.590,0.842,0.094,0.018,0.733,0.170,0.728,309,37.143,Zimbabwe,9

In [267]:
#reorder columns to align with other pages
col = ['Country', 'Region', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
tab_2013[5] = tab_2013[5][col].rename(columns=dict(zip(col, np.arange(0,13))))
tab_2013[5]

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,United States,7,7.082,0.917,0.834,0.698,0.621,0.191,0.844,0.254,0.877,42068,69.689
1,Uruguay,6,6.355,0.883,0.852,0.537,0.273,-0.066,0.800,0.232,0.750,12538,66.434
2,Uzbekistan,2,5.623,0.920,0.924,0.597,0.226,-0.005,0.783,0.131,0.786,2756,60.176
3,Venezuela,6,7.039,0.931,0.780,0.755,0.136,-0.196,0.849,0.168,0.808,11182,65.104
4,Vietnam,3,5.533,0.809,0.841,0.766,0.211,-0.024,0.613,0.213,0.637,2905,62.188
5,Yemen,8,4.054,0.683,0.668,0.836,0.080,-0.142,0.518,0.281,0.551,2235,50.780
6,Zambia,9,5.006,0.822,0.726,0.846,0.211,0.027,0.780,0.227,0.792,1416,37.099
7,Zimbabwe,9,4.827,0.873,0.590,0.842,0.094,0.018,0.733,0.170,0.728,309,37.143

In [269]:
# concatenate all pages to one table
df_2013 = pd.concat([tab_2013[0],tab_2013[1],tab_2013[3], tab_2013[4], tab_2013[5]], ignore_index = True)
df_2013

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,NaN,NaN,Social,NaN,NaN,NaN,NaN,Positive,Negative,Happiness,GDP per,Healthy life
1,Country,Region,Ladder,support,Freedom,Corruption,Donation,Generosity,affect,affect,(yesterday),capita,expectancy
2,Afghanistan,4,4.040,0.525,0.540,0.755,0.348,0.207,0.663,0.270,0.721,979,36.535
3,Albania,1,5.550,0.759,0.553,0.827,0.112,-0.192,0.627,0.276,0.568,7652,61.417
4,Algeria,8,5.422,0.831,0.551,0.681,0.106,-0.194,0.567,0.245,0.542,7547,61.722
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Venezuela,6,7.039,0.931,0.780,0.755,0.136,-0.196,0.849,0.168,0.808,11182,65.104
129,Vietnam,3,5.533,0.809,0.841,0.766,0.211,-0.024,0.613,0.213,0.637,2905,62.188
130,Yemen,8,4.054,0.683,0.668,0.836,0.08,-0.142,0.518,0.281,0.551,2235,50.780
131,Zambia,9,5.006,0.822,0.726,0.846,0.211,0.027,0.780,0.227,0.792,1416,37.099
132,Zimbabwe,9,4.827,0.873,0.590,0.842,0.094,0.018,0.733,0.170,0.728,309,37.143

In [271]:
df_2013.drop(index=[0,1], axis=0, inplace=True)

In [274]:
df_2013.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
dtype: object

In [272]:
df_2013[3]+df_2013[4]+df_2013[5]+df_2013[6]+df_2013[7]

TypeError: can only concatenate str (not "float") to str

In [181]:
# Drop first two rows as it is a header of table
# Rename columns
col_name= {0: "Country", 1: "Region", 2: "Ladder", 3: "Social support", 
4: "Freedom", 5: "Corruption", 6: "Donation", 7: "Generosity", 8: "Positive affect", 
9: "Negative affect", 10: "Happiness (yesterday)", 11: "GDP per capita", 
12: "Healthy life expectancy"}
df_2013.drop(index=[0,1], axis=0, inplace=True)
df_2013.rename(columns=col_name, inplace=True)
df_2013

,Country,Region,Ladder,Social support,Freedom,Corruption,Donation,Generosity,Positive affect,Negative affect,Happiness (yesterday),GDP per capita,Healthy life expectancy
2,Afghanistan,4,4.040,0.525,0.540,0.755,0.348,0.207,0.663,0.270,0.721,979,36.535
3,Albania,1,5.550,0.759,0.553,0.827,0.112,-0.192,0.627,0.276,0.568,7652,61.417
4,Algeria,8,5.422,0.831,0.551,0.681,0.106,-0.194,0.567,0.245,0.542,7547,61.722
5,Angola,9,5.589,0.723,0.584,0.912,0.322,0.046,0.659,0.361,0.708,5172,34.601
6,Argentina,6,6.562,0.906,0.764,0.810,0.199,-0.150,0.847,0.238,0.813,14379,65.543
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Venezuela,6,7.039,0.931,0.780,0.755,0.136,-0.196,0.849,0.168,0.808,11182,65.104
129,Vietnam,3,5.533,0.809,0.841,0.766,0.211,-0.024,0.613,0.213,0.637,2905,62.188
130,Yemen,8,4.054,0.683,0.668,0.836,0.08,-0.142,0.518,0.281,0.551,2235,50.780
131,Zambia,9,5.006,0.822,0.726,0.846,0.211,0.027,0.780,0.227,0.792,1416,37.099
132,Zimbabwe,9,4.827,0.873,0.590,0.842,0.094,0.018,0.733,0.170,0.728,309,37.143

## Merge all reports

In [185]:
df_2022.head()

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,7.8210,7.886425,7.755575,2.518052,1.891628,1.258108,0.775206,0.735590,0.108733,0.533658
1,2,Denmark,7.6362,7.709897,7.562503,2.225632,1.952595,1.242681,0.776644,0.718918,0.187626,0.532079
2,3,Iceland,7.5575,7.651076,7.463924,2.320185,1.935726,1.319914,0.802622,0.718194,0.269616,0.191204
3,4,Switzerland,7.5116,7.586394,7.436806,2.152746,2.025970,1.226074,0.822048,0.676947,0.146822,0.461004
4,5,Netherlands,7.4149,7.471265,7.358534,2.136937,1.944578,1.205848,0.786738,0.650682,0.271076,0.419083

In [189]:
df_2022.columns

Index(['RANK', 'Country', 'Happiness score', 'Whisker-high', 'Whisker-low',
       'Dystopia (1.83) + residual', 'Explained by: GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption'],
      dtype='object')

In [186]:
df_2021.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8421,0.031646,7.904126,7.780075,10.775202,0.953603,72.000000,0.949268,-0.097760,0.185846,2.430343,1.446356,1.106192,0.740824,0.690577,0.124200,0.480524,3.253415
1,Denmark,Western Europe,7.6195,0.034657,7.687428,7.551572,10.933176,0.954410,72.699753,0.945639,0.030109,0.178838,2.430343,1.501548,1.108008,0.762862,0.686160,0.207615,0.484993,2.868296
2,Switzerland,Western Europe,7.5715,0.036243,7.642536,7.500463,11.117368,0.941742,74.400101,0.918788,0.024629,0.291698,2.430343,1.565899,1.079469,0.816415,0.653488,0.204040,0.413019,2.839148
3,Iceland,Western Europe,7.5539,0.059373,7.670271,7.437528,10.877768,0.982938,73.000000,0.955123,0.160274,0.672865,2.430343,1.482190,1.172279,0.772319,0.697701,0.292526,0.169940,2.966945
4,Netherlands,Western Europe,7.4640,0.027326,7.517559,7.410441,10.931812,0.941601,72.400116,0.913116,0.175404,0.337938,2.430343,1.501072,1.079151,0.753425,0.646585,0.302397,0.383531,2.797818

In [202]:
df_2016.columns.to_list()

['Country',
 'Happiness score',
 'Whisker-high',
 'Whisker-low',
 'Explained by: GDP per capita',
 'Explained by: Social support',
 'Explained by: Healthy life expectancy',
 'Explained by: Freedom to make life choices',
 'Explained by: Generosity',
 'Explained by: Perceptions of corruption',
 'Dystopia (2.33) + residual']

In [188]:
pd.concat([df_2022, df_2021], join='inner')

,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1.258108,0.775206,0.735590,0.108733,0.533658
1,1.242681,0.776644,0.718918,0.187626,0.532079
2,1.319914,0.802622,0.718194,0.269616,0.191204
3,1.226074,0.822048,0.676947,0.146822,0.461004
4,1.205848,0.786738,0.650682,0.271076,0.419083
...,...,...,...,...,...
144,0.730561,0.006992,0.405455,0.102819,0.015284
145,0.724478,0.339868,0.538626,0.027394,0.088468
146,0.202183,0.406969,0.626681,0.227457,0.492669
147,0.648552,0.243230,0.358907,0.157088,0.075471
148,0.000000,0.126440,0.000000,0.121641,0.009569