In [1]:
import pandas as pd
import tabula
import numpy as np

In [2]:
file_path = "/Users/ziza/Documents/Coding/GitHub/World_Happiness_Report/Source Data/"

In [3]:
df_2022 = pd.read_excel(file_path + "2022.xls")
df_2022.head()

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,7.8210,7.886425,7.755575,2.518052,1.891628,1.258108,0.775206,0.735590,0.108733,0.533658
1,2,Denmark,7.6362,7.709897,7.562503,2.225632,1.952595,1.242681,0.776644,0.718918,0.187626,0.532079
2,3,Iceland,7.5575,7.651076,7.463924,2.320185,1.935726,1.319914,0.802622,0.718194,0.269616,0.191204
3,4,Switzerland,7.5116,7.586394,7.436806,2.152746,2.025970,1.226074,0.822048,0.676947,0.146822,0.461004
4,5,Netherlands,7.4149,7.471265,7.358534,2.136937,1.944578,1.205848,0.786738,0.650682,0.271076,0.419083

In [4]:
df_2021 = pd.read_excel(file_path + "2021.xls")
df_2021.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8421,0.031646,7.904126,7.780075,10.775202,0.953603,72.000000,0.949268,-0.097760,0.185846,2.430343,1.446356,1.106192,0.740824,0.690577,0.124200,0.480524,3.253415
1,Denmark,Western Europe,7.6195,0.034657,7.687428,7.551572,10.933176,0.954410,72.699753,0.945639,0.030109,0.178838,2.430343,1.501548,1.108008,0.762862,0.686160,0.207615,0.484993,2.868296
2,Switzerland,Western Europe,7.5715,0.036243,7.642536,7.500463,11.117368,0.941742,74.400101,0.918788,0.024629,0.291698,2.430343,1.565899,1.079469,0.816415,0.653488,0.204040,0.413019,2.839148
3,Iceland,Western Europe,7.5539,0.059373,7.670271,7.437528,10.877768,0.982938,73.000000,0.955123,0.160274,0.672865,2.430343,1.482190,1.172279,0.772319,0.697701,0.292526,0.169940,2.966945
4,Netherlands,Western Europe,7.4640,0.027326,7.517559,7.410441,10.931812,0.941601,72.400116,0.913116,0.175404,0.337938,2.430343,1.501072,1.079151,0.753425,0.646585,0.302397,0.383531,2.797818

In [5]:
df_2019 = pd.read_excel(file_path + "2019.xls", 'Figure2.6')
df_2019.head()

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.88) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.7689,7.829888,7.707912,2.713678,1.340243,1.587276,0.986145,0.595895,0.152708,0.392913
1,Denmark,7.6001,7.666658,7.533542,2.392891,1.383439,1.572595,0.996019,0.592356,0.252320,0.410473
2,Norway,7.5539,7.615639,7.492160,2.240764,1.487767,1.581548,1.028123,0.603500,0.271304,0.340884
3,Iceland,7.4936,7.613283,7.373917,2.400876,1.380163,1.623651,1.025653,0.590905,0.354356,0.117980
4,Netherlands,7.4876,7.542098,7.433102,2.392895,1.396020,1.521903,0.999314,0.557075,0.322440,0.297978

In [6]:
df_2018 = pd.read_excel(file_path + "2018.xls", "Figure2.2")
df_2018.head()

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Finland,7.6321,7.694913,7.569287,2.595186,1.305095,1.592134,0.874454,0.680633,0.191638,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,country
1,Norway,7.5937,7.657077,7.530323,2.383242,1.455627,1.582340,0.860763,0.686420,0.285636,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Finland
2,Denmark,7.5553,7.623292,7.487309,2.370179,1.351153,1.590453,0.867933,0.683251,0.284392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Iceland,7.4952,7.592534,7.397867,2.425990,1.343301,1.644378,0.913802,0.676502,0.353233,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark
4,Switzerland,7.4873,7.569994,7.404606,2.319529,1.419727,1.548998,0.927076,0.659779,0.255525,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Iceland

In [9]:
df_2018.columns

Index(['Country', 'Happiness score', 'Whisker-high', 'Whisker-low',
       'Dystopia (1.92) + residual', 'Explained by: GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [10]:
col_delete = ['Unnamed: 11','Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23']
df_2018.drop(col_delete, inplace=True, axis =1)
df_2018.head()

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.6321,7.694913,7.569287,2.595186,1.305095,1.592134,0.874454,0.680633,0.191638,0.392961
1,Norway,7.5937,7.657077,7.530323,2.383242,1.455627,1.582340,0.860763,0.686420,0.285636,0.339687
2,Denmark,7.5553,7.623292,7.487309,2.370179,1.351153,1.590453,0.867933,0.683251,0.284392,0.407917
3,Iceland,7.4952,7.592534,7.397867,2.425990,1.343301,1.644378,0.913802,0.676502,0.353233,0.138019
4,Switzerland,7.4873,7.569994,7.404606,2.319529,1.419727,1.548998,0.927076,0.659779,0.255525,0.356677

In [11]:
df_2017 = pd.read_excel(file_path + "2017.xlsx",'Figure2.2 WHR 2017')
df_2017.head()

,Country,Happiness score,Whisker-high,Whisker-low,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia (1.85) + residual
0,Norway,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [12]:
df_2016 = pd.read_excel(file_path + "2016.xlsx", "Figure2.2")
df_2016.head()

,Country,Happiness score,Whisker-high,Whisker-low,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia (2.33) + residual,Unnamed: 11,Unnamed: 12,Figure 2.2: Ranking of Happiness 2013-2015
0,Denmark,7.526,7.591507,7.460493,1.441784,1.163745,0.795040,0.579413,0.361710,0.444532,2.739390,NaN,NaN,NaN
1,Switzerland,7.509,7.589791,7.428208,1.527334,1.145236,0.863029,0.585572,0.280825,0.412033,2.694632,NaN,NaN,NaN
2,Iceland,7.501,7.669368,7.332632,1.426655,1.183259,0.867333,0.566242,0.476784,0.149747,2.831373,NaN,NaN,NaN
3,Norway,7.498,7.574923,7.421077,1.577440,1.126896,0.795789,0.596086,0.378948,0.357758,2.664645,NaN,NaN,NaN
4,Finland,7.413,7.474935,7.351065,1.405979,1.134640,0.810914,0.571037,0.254919,0.410040,2.825965,NaN,NaN,NaN

In [13]:
df_2016.columns

Index(['Country', 'Happiness score', 'Whisker-high', 'Whisker-low',
       'Explained by: GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia (2.33) + residual', 'Unnamed: 11', 'Unnamed: 12',
       'Figure 2.2: Ranking of Happiness 2013-2015'],
      dtype='object')

In [14]:
col_delete = ['Unnamed: 11', 'Unnamed: 12', 'Figure 2.2: Ranking of Happiness 2013-2015']
df_2016.drop(col_delete, inplace = True, axis=1)
df_2016.head()

,Country,Happiness score,Whisker-high,Whisker-low,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia (2.33) + residual
0,Denmark,7.526,7.591507,7.460493,1.441784,1.163745,0.795040,0.579413,0.361710,0.444532,2.739390
1,Switzerland,7.509,7.589791,7.428208,1.527334,1.145236,0.863029,0.585572,0.280825,0.412033,2.694632
2,Iceland,7.501,7.669368,7.332632,1.426655,1.183259,0.867333,0.566242,0.476784,0.149747,2.831373
3,Norway,7.498,7.574923,7.421077,1.577440,1.126896,0.795789,0.596086,0.378948,0.357758,2.664645
4,Finland,7.413,7.474935,7.351065,1.405979,1.134640,0.810914,0.571037,0.254919,0.410040,2.825965

In [15]:
df_2015 = pd.read_excel(file_path + "2015.xlsx", "Data for Figure2.2", skiprows=[0,1,2])
df_2015.head()

,WP5 Country,country,Regional indicator,Ladder score,Standard error of ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,...,Trust in national government,Democratic Quality 2012,Delivery Quality 2012,"Most people can be trusted, Gallup, mostly 2009-10","Most people can be trusted, WVS round 1981-1984","Most people can be trusted, WVS round 1989-1993","Most people can be trusted, WVS round 1994-1998","Most people can be trusted, WVS round 1999-2004","Most people can be trusted, WVS round 2005-2009","Most people can be trusted, WVS round 2010-2014"
0,184 Switzerland,Switzerland,Western Europe,7.587,0.034112,10.857283,0.953136,72.736862,0.947724,0.080692,...,0.758919,1.534588,1.876428,0.437882,NaN,0.265255,0.378479,NaN,0.518936,NaN
1,130 Iceland,Iceland,Western Europe,7.561,0.048836,10.568534,0.975240,72.968559,0.912811,0.257895,...,0.322590,1.337266,1.521620,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,025 Denmark,Denmark,Western Europe,7.527,0.033283,10.639521,0.957780,70.323395,0.932365,0.137351,...,0.465453,1.299623,2.000511,0.667515,NaN,NaN,NaN,NaN,NaN,NaN
3,160 Norway,Norway,Western Europe,7.522,0.038802,11.048872,0.945359,70.705254,0.951669,0.144468,...,0.688396,1.531618,1.903925,NaN,NaN,NaN,0.647737,NaN,0.737305,NaN
4,046 Canada,Canada,North America and ANZ,7.427,0.035526,10.642016,0.941860,71.443192,0.916792,0.285598,...,0.492211,1.268314,1.780549,0.450844,NaN,NaN,NaN,0.385469,0.418500,NaN

In [16]:
df_2015.columns

Index(['WP5 Country', 'country', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Dystopia + residual', 'Explained by: Log GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Trust in national government', 'Democratic Quality 2012',
       'Delivery Quality 2012',
       'Most people can be trusted, Gallup, mostly 2009-10',
       'Most people can be trusted, WVS round 1981-1984',
       'Most people can be trusted, WVS round 1989-1993',
       'Most people can be trusted, WVS round 1994-1998',
       'Most people can be trusted, WVS round 1999-2004',
       'Most people can be trusted, WVS round 2005-2009',
       'Most people can be trusted, WVS round 2010-2014'],
      dtype='object')

In [17]:
col_delete = ['WP5 Country', 'Trust in national government', 'Democratic Quality 2012',
       'Delivery Quality 2012',
       'Most people can be trusted, Gallup, mostly 2009-10',
       'Most people can be trusted, WVS round 1981-1984',
       'Most people can be trusted, WVS round 1989-1993',
       'Most people can be trusted, WVS round 1994-1998',
       'Most people can be trusted, WVS round 1999-2004',
       'Most people can be trusted, WVS round 2005-2009',
       'Most people can be trusted, WVS round 2010-2014']
df_2015.drop(col_delete, axis=1, inplace=True)
df_2015.head()

,country,Regional indicator,Ladder score,Standard error of ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Dystopia + residual,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Switzerland,Western Europe,7.587,0.034112,10.857283,0.953136,72.736862,0.947724,0.080692,0.301402,2.098976,2.517383,1.396505,1.349505,0.941432,0.665573,0.296775,0.419777
1,Iceland,Western Europe,7.561,0.048836,10.568534,0.975240,72.968559,0.912811,0.257895,0.741834,2.098976,2.702013,1.302324,1.402231,0.947844,0.628772,0.436297,0.141451
2,Denmark,Western Europe,7.527,0.033283,10.639521,0.957780,70.323395,0.932365,0.137351,0.200448,2.098976,2.492042,1.325478,1.360581,0.874641,0.649384,0.341386,0.483573
3,Norway,Western Europe,7.522,0.038802,11.048872,0.945359,70.705254,0.951669,0.144468,0.388029,2.098976,2.465312,1.458997,1.330955,0.885209,0.669732,0.346989,0.365034
4,Canada,North America and ANZ,7.427,0.035526,10.642016,0.941860,71.443192,0.916792,0.285598,0.444144,2.098976,2.451756,1.326292,1.322608,0.905631,0.632968,0.458109,0.329573

### Read and clean PDF (2013 report)

In [132]:
tab_2013=tabula.read_pdf(file_path+"2013.pdf", pages="1-6", pandas_options={'header': None})
tab_2013

[              0       1       2        3        4           5         6   \
 0            NaN     NaN     NaN   Social      NaN         NaN       NaN
 1        Country  Region  Ladder  support  Freedom  Corruption  Donation
 2    Afghanistan       4   4.040    0.525    0.540       0.755     0.348
 3        Albania       1   5.550    0.759    0.553       0.827     0.112
 4        Algeria       8   5.422    0.831    0.551       0.681     0.106
 5         Angola       9   5.589    0.723    0.584       0.912     0.322
 6      Argentina       6   6.562    0.906    0.764       0.810     0.199
 7        Armenia       2   4.316    0.681    0.476       0.915     0.079
 8      Australia       7   7.350    0.955    0.937       0.362     0.715
 9        Austria       0   7.369    0.929    0.913       0.642     0.532
 10    Azerbaijan       2   4.604    0.725    0.546       0.810     0.188
 11       Bahrain       8   5.312    0.901    0.828       0.508     0.366
 12    Bangladesh       4   4.804    0.580    0.707       0.767     0.161
 13       Belarus       2   5.504    0.910    0.667       0.688     0.145
 14       Belgium       0   6.967    0.932    0.848       0.724     0.384
 15         Benin       9   3.528    0.500    0.771       0.829     0.066
 16       Bolivia       6   5.857    0.802    0.784       0.813     0.218
 17    Bosnia and     NaN     NaN      NaN      NaN         NaN       NaN
 18   Herzegovina       1   4.813    0.759    0.372       0.939     0.236
 19      Botswana       9   3.970    0.854    0.813       0.815     0.115
 20        Brazil       6   6.849    0.904    0.829       0.646     0.252
 21      Bulgaria       1   3.981    0.846    0.599       0.945     0.154
 22  Burkina Faso       9   4.259    0.742    0.645       0.734     0.093
 23       Burundi       9   3.706    0.422    0.490       0.677     0.048
 24      Cambodia       3   4.067    0.673    0.941       0.852     0.535

             7         8         9            10       11            12
 0          NaN  Positive  Negative    Happiness  GDP per  Healthy life
 1   Generosity    affect    affect  (yesterday)   capita    expectancy
 2        0.207     0.663     0.270        0.721      979        36.535
 3       -0.192     0.627     0.276        0.568     7652        61.417
 4       -0.194     0.567     0.245        0.542     7547        61.722
 5        0.046     0.659     0.361        0.708     5172        34.601
 6       -0.150     0.847     0.238        0.813    14379        65.543
 7       -0.194     0.501     0.450        0.488     4941        61.453
 8        0.303     0.820     0.210        0.863    34571        72.948
 9        0.119     0.810     0.153        0.890    35211        72.148
 10      -0.127     0.539     0.265        0.455     8796        58.205
 11      -0.012     0.591     0.459        0.577    21693        64.405
 12      -0.025     0.691     0.215        0.702     1523        54.965
 13      -0.194     0.538     0.213        0.437    12438        61.319
 14      -0.024     0.828     0.235        0.821    32789        71.550
 15      -0.118     0.604     0.225        0.543     1425        45.280
 16      -0.046     0.770     0.373        0.773     4365        55.439
 17         NaN       NaN       NaN          NaN      NaN           NaN
 18      -0.067     0.554     0.358        0.592     7487        64.455
 19      -0.224     0.734     0.168        0.732    12426        36.168
 20      -0.070     0.794     0.288        0.853     9942        60.500
 21      -0.179     0.550     0.246        0.456    11567        66.051
 22      -0.075     0.571     0.240        0.497     1124        36.653
 23      -0.066     0.689     0.190        0.683      524        36.291
 24       0.327     0.798     0.361        0.814     1977        48.873  ,
                   0    1      2      3      4      5      6      7      8   \
 0           Cameroon  9.0  4.420  0.747  0.792  0.881  0.185 -0.026  0.607
 1             Canada  7.0  7.477  0.942  0.932  0.437  0.653  0.247  0.872
 2    Central African  NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 3           Republic  9.0  3.623  0.435  0.735  0.839  0.110 -0.024  0.524
 4               Chad  9.0  4.056  0.742  0.536  0.873  0.167 -0.010  0.554
 5              Chile  6.0  6.587  0.844  0.740  0.744  0.479  0.129  0.809
 6              China  5.0  4.978  0.782  0.812  0.808  0.115 -0.186  0.808
 7           Colombia  6.0  6.416  0.904  0.818  0.843  0.257 -0.055  0.836
 8            Comoros  9.0  3.851  0.721  0.518  0.720  0.146 -0.013  0.668
 9              Congo  NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 10     (Brazzaville)  9.0  4.297  0.634  0.771  0.822  0.100 -0.154  0.590
 11  Congo (Kinshasa)  9.0  4.578  0.757  0.594  0.843  0.085  0.006  0.625
 12        Costa Rica  6.0  7.257  0.903  0.912  0.802  0.341  0.015  0.886
 13           Croatia  1.0  5.661  0.788  0.541  0.957  0.123 -0.234  0.608
 14            Cyprus  0.0  6.466  0.820  0.745  0.846  0.500  0.109  0.771
 15    Czech Republic  1.0  6.290  0.924  0.771  0.942  0.287 -0.097  0.623
 16           Denmark  0.0  7.693  0.963  0.937  0.176  0.629  0.222  0.776
 17          Djibouti  9.0  4.690  0.633  0.755  0.557  0.130 -0.084  0.579
 18         Dominican  NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 19          Republic  6.0  4.963  0.870  0.837  0.768  0.264 -0.046  0.798
 20           Ecuador  6.0  5.865  0.814  0.779  0.745  0.191 -0.110  0.845
 21             Egypt  8.0  4.273  0.750  0.527  0.878  0.155 -0.126  0.532
 22       El Salvador  6.0  5.809  0.765  0.700  0.724  0.151 -0.136  0.840
 23           Estonia  1.0  5.426  0.899  0.716  0.751  0.181 -0.182  0.649
 24          Ethiopia  9.0  4.561  0.659  0.776  0.918  0.103 -0.054  0.668
 25           Finland  0.0  7.389  0.934  0.924  0.356  0.459  0.055  0.801
 26            France  0.0  6.764  0.935  0.859  0.623  0.271 -0.137  0.770
 27             Gabon  9.0  4.114  0.694  0.670  0.835  0.111 -0.235  0.532
 28           Georgia  2.0  4.187  0.525  0.616  0.375  0.032 -0.235  0.525
 29           Germany  0.0  6.672  0.942  0.894  0.678  0.451  0.046  0.799
 30             Ghana  9.0  5.091  0.716  0.808  0.854  0.263  0.075  0.762
 31            Greece  0.0  5.435  0.844  0.462  0.954  0.059 -0.326  0.602
 32         Guatemala  6.0  5.965  0.810  0.774  0.835  0.330  0.067  0.852
 33            Guinea  9.0  3.847  0.570  0.721  0.770  0.190  0.032  0.689

        9      10       11      12
 0   0.276  0.576   2050.0  42.807
 1   0.236  0.911  35294.0  72.082
 2     NaN    NaN      NaN     NaN
 3   0.267  0.477    702.0  39.560
 4   0.297  0.515   1292.0  41.886
 5   0.302  0.792  14527.0  67.878
 6   0.153  0.785   6993.0  64.726
 7   0.281  0.831   8536.0  62.697
 8   0.184  0.681    985.0  55.732
 9     NaN    NaN      NaN     NaN
 10  0.300  0.491   3831.0  47.308
 11  0.219  0.576    323.0  37.797
 12  0.251  0.881  10440.0  67.385
 13  0.267  0.614  15996.0  67.409
 14  0.301  0.737  25909.0  68.041
 15  0.249  0.475  23492.0  69.322
 16  0.179  0.647  32333.0  71.228
 17  0.181  0.673   2087.0  44.038
 18    NaN    NaN      NaN     NaN
 19  0.293  0.835   8308.0  60.201
 20  0.275  0.837   7303.0  62.470
 21  0.364  0.522   5513.0  59.792
 22  0.335  0.839   5979.0  60.144
 23  0.202  0.558  17434.0  66.911
 24  0.137  0.732    979.0  43.343
 25  0.203  0.857  31257.0  72.409
 26  0.262  0.768  29571.0  72.693
 27  0.265  0.456  13804.0  52.727
 28  0.246  0.527   4564.0  64.930
 29  0.168  0.865  34056.0  73.065
 30  0.182  0.800   1511.0  50.926
 31  0.322  0.471  23864.0  72.060
 32  0.291  0.851   4309.0  58.208
 33  0.272  0.648    986.0  46.641  ,
             0   1      2      3      4      5      6      7      8      9   \
 0        Haiti   6  4.341  0.623  0.422  0.765  0.407  0.245  0.592  0.274
 1     Honduras   6  5.142  0.782  0.712  0.867  0.301  0.053  0.820  0.288
 2    Hong Kong   5  5.523  0.842  0.888  0.278  0.661  0.235  0.721  0.188
 3      Hungary   1  4.775  0.898  0.572  0.953  0.227 -0.134  0.650  0.285
 4      Iceland   0  7.355  0.978  0.898  0.747  0.651  0.240  0.900  0.157
 5        India   4  4.772  0.554  0.710  0.855  0.259  0.022  0.649  0.270
 6    Indonesia   3  5.348  0.827  0.779  0.963  0.690  0.410  0.877  0.235
 7         Iran   8  4.643  0.596  0.601  0.873  0.510  0.184  0.602  0.488
 8         Iraq   8  4.817  0.763  0.360  0.828  0.200 -0.033  0.472  0.489
 9      Ireland   0  7.076  0.971  0.903  0.595  0.749  0.335  0.859  0.209
 10      Israel   8  7.301  0.893  0.657  0.888  0.524  0.133  0.694  0.355
 11       Italy   0  6.021  0.881  0.611  0.923  0.401  0.032  0.648  0.320
 12     Jamaica   6  5.374  0.855  0.796  0.914  0.219 -0.079  0.836  0.237
 13       Japan   5  6.064  0.908  0.780  0.727  0.284 -0.118  0.789  0.178
 14      Jordan   8  5.414  0.867  0.747  0.739  0.175 -0.103  0.599  0.311
 15  Kazakhstan   2  5.671  0.900  0.835  0.835  0.134 -0.195  0.710  0.163
 16       Kenya   9  4.403  0.828  0.658  0.918  0.245  0.057  0.762  0.182
 17      Kosovo   1  5.222  0.742  0.560  0.946  0.341  0.038  0.662  0.114
 18      Kuwait   8  6.515  0.886  0.776  0.522  0.381 -0.050  0.781  0.163
 19  Kyrgyzstan   2  5.042  0.878  0.724  0.921  0.123 -0.088  0.674  0.152
 20        Laos   3  4.787  0.692  0.882  0.582  0.586  0.365  0.908  0.305
 21      Latvia   1  5.046  0.844  0.564  0.924  0.326 -0.021  0.562  0.227
 22     Lebanon   8  4.931  0.723  0.652  0.899  0.355  0.016  0.536  0.332
 23     Lesotho   9  4.898  0.824  0.618  0.769  0.096 -0.089  0.793  0.170
 24     Liberia   9  4.196  0.812  0.846  0.829  0.113  0.007  0.582  0.225
 25       Libya   8  5.340  0.836  0.643  0.787  0.399  0.232  0.645  0.301
 26   Lithuania   1  5.426  0.904  0.529  0.963  0.121 -0.236  0.540  0.275
 27  Luxembourg   0  7.054  0.934  0.929  0.384  0.542  0.082  0.820  0.215
 28   Macedonia   1  4.574  0.756  0.578  0.886  0.230 -0.088  0.598  0.366
 29  Madagascar   9  3.966  0.746  0.516  0.878  0.094 -0.055  0.599  0.214
 30      Malawi   9  4.113  0.608  0.685  0.869  0.254  0.112  0.764  0.235
 31    Malaysia   3  5.760  0.817  0.820  0.847  0.351  0.006  0.862  0.174

        10     11      12
 0   0.634   1030  44.413
 1   0.813   3528  59.360
 2   0.798  42689  70.062
 3   0.635  16987  66.325
 4   0.907  34636  73.587
 5   0.667   3073  54.588
 6   0.859   3968  59.300
 7   0.609  10462  58.350
 8   0.454   3290  57.881
 9   0.895  35902  71.406
 10  0.713  25988  68.155
 11  0.581  27000  73.643
 12  0.834   7001  65.934
 13  0.786  30478  75.134
 14  0.610   5255  61.415
 15  0.654  10934  57.843
 16  0.771   1479  46.546
 17  0.574   7487  58.926
 18  0.751  46086  67.360
 19  0.657   2069  56.342
 20  0.909   2388  48.268
 21  0.418  13900  65.267
 22  0.557  12465  61.059
 23  0.796   1448  40.358
 24  0.613    473  37.184
 25  0.631  15361  64.113
 26  0.462  16154  65.797
 27  0.860  68312  72.839
 28  0.664   9292  62.855
 29  0.448    861  49.479
 30  0.771    785  37.253
 31  0.882  13626  64.213  ,
               0   1      2      3      4      5      6      7      8      9   \
 0           Mali   9  4.247  0.790  0.759  0.773  0.100 -0.056  0.745  0.134
 1          Malta   0  5.964  0.918  0.849  0.849  0.680  0.299  0.726  0.369
 2     Mauritania   9  4.758  0.780  0.592  0.735  0.272  0.057  0.771  0.161
 3      Mauritius   9  5.477  0.800  0.848  0.849  0.517  0.179  0.738  0.253
 4         Mexico   6  7.088  0.809  0.796  0.669  0.249 -0.094  0.800  0.250
 5        Moldova   2  5.791  0.848  0.610  0.950  0.204 -0.028  0.573  0.292
 6       Mongolia   5  4.834  0.924  0.673  0.937  0.393  0.140  0.698  0.161
 7     Montenegro   1  5.299  0.775  0.520  0.732  0.115 -0.210  0.590  0.389
 8        Morocco   8  4.885  0.730  0.675  0.866  0.074 -0.189  0.671  0.239
 9     Mozambique   9  4.971  0.818  0.639  0.719  0.102 -0.043  0.592  0.243
 10       Myanmar   3  4.439  0.612  0.691  0.695  0.856  0.676  0.764  0.205
 11         Nepal   4  4.156  0.747  0.580  0.907  0.236  0.076  0.711  0.224
 12   Netherlands   0  7.512  0.945  0.908  0.378  0.728  0.312  0.859  0.205
 13   New Zealand   7  7.221  0.951  0.918  0.273  0.658  0.271  0.860  0.216
 14     Nicaragua   6  5.507  0.853  0.807  0.738  0.239 -0.004  0.800  0.277
 15         Niger   9  4.152  0.724  0.777  0.614  0.077 -0.050  0.683  0.145
 16       Nigeria   9  5.248  0.812  0.660  0.907  0.264  0.050  0.797  0.194
 17  North Cyprus   0  5.463  0.871  0.693  0.871  0.436  0.045  0.709  0.405
 18        Norway   0  7.655  0.942  0.947  0.421  0.498  0.063  0.823  0.213
 19          Oman   8  6.853  0.852  0.916  0.451  0.394  0.007    NaN  0.295
 20      Pakistan   4  5.292  0.542  0.368  0.854  0.385  0.163  0.655  0.345
 21     Palestine   8  4.700  0.778  0.523  0.747  0.103 -0.103  0.599  0.383
 22        Panama   6  7.143  0.900  0.789  0.842  0.345  0.005  0.880  0.177
 23      Paraguay   6  5.779  0.896  0.714  0.774  0.445  0.178  0.834  0.193
 24          Peru   6  5.776  0.777  0.744  0.861  0.202 -0.109  0.779  0.353
 25   Philippines   3  4.985  0.805  0.901  0.788  0.304  0.054  0.864  0.339
 26        Poland   1  5.822  0.937  0.818  0.904  0.327 -0.034  0.747  0.240
 27      Portugal   0  5.101  0.862  0.772  0.954  0.247 -0.131  0.734  0.295
 28         Qatar   8  6.666  0.845  0.918  0.140  0.560  0.096  0.763  0.324
 29       Romania   1  5.033  0.727  0.620  0.966  0.226 -0.103  0.565  0.327
 30        Russia   2  5.464  0.901  0.615  0.941  0.060 -0.288  0.599  0.171
 31        Rwanda   9  3.715  0.603  0.832  0.115  0.131 -0.035  0.684  0.143

        10     11      12
 0   0.712    957  38.648
 1   0.809  22697  73.487
 2   0.804   2186  45.232
 3   0.732  12283  61.622
 4   0.819  12520  66.225
 5   0.526   2791  60.361
 6   0.753   3756  56.603
 7   0.691  10184  62.609
 8   0.654   4264  60.865
 9   0.644    823  38.211
 10  0.750   1325  54.795
 11  0.739   1087  52.790
 12  0.844  36854  72.338
 13  0.910  24478  71.115
 14  0.772   3270  62.470
 15  0.707    639  36.664
 16  0.829   2160  42.953
 17  0.790  25909  68.041
 18  0.749  48071  72.492
 19  0.893  24559  61.685
 20  0.682   2405  53.735
 21  0.600   1924  61.203
 22  0.898  12779  66.552
 23  0.755   4535  62.655
 24  0.776   8514  61.715
 25  0.913   3550  60.298
 26  0.640  17178  66.591
 27  0.779  21471  70.877
 28  0.833  72892  66.013
 29  0.470  10864  64.386
 30  0.484  14103  59.729
 31  0.708   1105  39.229  ,
                 0    1      2      3      4      5      6      7      8   \
 0     Saudi Arabia  8.0  6.480  0.852  0.624  0.451  0.301 -0.074  0.702
 1          Senegal  9.0  3.959  0.691  0.695  0.857  0.102 -0.096  0.764
 2           Serbia  1.0  4.813  0.773  0.455  0.964  0.152 -0.169  0.531
 3     Sierra Leone  9.0  4.318  0.797  0.748  0.884  0.156  0.000  0.480
 4        Singapore  3.0  6.546  0.884  0.834  0.075  0.350 -0.086  0.542
 5         Slovakia  1.0  5.969  0.921  0.663  0.908  0.316 -0.057  0.653
 6         Slovenia  1.0  6.060  0.924  0.902  0.874  0.366 -0.022  0.660
 7       Somaliland  9.0  4.847  0.798  0.823  0.398  0.443  0.285  0.750
 8     South Africa  9.0  4.963  0.897  0.689  0.821  0.132 -0.188  0.770
 9      South Korea  5.0  6.267  0.800  0.659  0.819  0.334 -0.057  0.661
 10           Spain  0.0  6.322  0.942  0.781  0.842  0.272 -0.110  0.740
 11       Sri Lanka  4.0  4.151  0.826  0.790  0.793  0.474  0.199  0.844
 12           Sudan  9.0  4.401  0.818  0.570  0.727  0.173 -0.036  0.604
 13        Suriname  6.0  6.269  0.797  0.885  0.751  0.250 -0.051  0.764
 14       Swaziland  9.0  4.867  0.837  0.607  0.920  0.200 -0.079  0.821
 15          Sweden  0.0  7.480  0.940  0.930  0.226  0.544  0.134  0.834
 16     Switzerland  0.0  7.650  0.943  0.918  0.319  0.550  0.129  0.859
 17           Syria  8.0  3.892  0.655  0.550  0.731  0.364  0.051  0.545
 18          Taiwan  5.0  6.221  0.840  0.712  0.803  0.413  0.009  0.831
 19      Tajikistan  2.0  4.380  0.746  0.769  0.685  0.139 -0.067  0.686
 20        Tanzania  9.0  3.770  0.842  0.637  0.857  0.276  0.098  0.720
 21        Thailand  3.0  6.371  0.899  0.870  0.918  0.738  0.435  0.886
 22            Togo  9.0  2.936  0.303  0.584  0.840  0.069 -0.084  0.480
 23    Trinidad and  NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 24          Tobago  6.0  6.519  0.863  0.775  0.904  0.438  0.055  0.906
 25         Tunisia  8.0  4.826  0.705  0.598  0.846  0.116 -0.194  0.590
 26          Turkey  8.0  5.345  0.741  0.475  0.710  0.126 -0.214  0.640
 27    Turkmenistan  2.0  5.628  0.955  0.786  0.597  0.235 -0.071  0.612
 28          Uganda  9.0  4.443  0.866  0.728  0.843  0.201  0.032  0.693
 29         Ukraine  2.0  5.057  0.880  0.542  0.934  0.087 -0.200  0.558
 30     United Arab  NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 31             NaN  NaN    NaN    NaN    NaN  0.355    NaN    NaN    NaN
 32        Emirates  8.0  7.144  0.878  0.895    NaN  0.472  0.044  0.765
 33  United Kingdom  0.0  6.883  0.947  0.887  0.448  0.744  0.339  0.845

        9      10       11      12
 0   0.251  0.689  20546.0  62.183
 1   0.179  0.775   1730.0  48.976
 2   0.399  0.614   9634.0  62.551
 3   0.295  0.518    949.0  29.616
 4   0.138  0.572  49219.0  71.110
 5   0.289  0.589  20130.0  67.308
 6   0.288  0.733  24943.0  70.585
 7   0.120  0.794    979.0  43.343
 8   0.178  0.741   9552.0  45.275
 9   0.178  0.608  26789.0  69.235
 10  0.353  0.804  26972.0  73.647
 11  0.183  0.848   4689.0  61.951
 12  0.241  0.606   1999.0  49.413
 13  0.250  0.656   7378.0  61.977
 14  0.251  0.815   5338.0  40.925
 15  0.183  0.791  33869.0  74.213
 16  0.176  0.907  39476.0  73.561
 17  0.501  0.510   4714.0  61.940
 18  0.129  0.815  30463.0  66.579
 19  0.185  0.751   1945.0  55.420
 20  0.162  0.708   1291.0  48.695
 21  0.143  0.936   7526.0  60.477
 22  0.395  0.362    902.0  46.133
 23    NaN    NaN      NaN     NaN
 24  0.134  0.907  23172.0  62.805
 25  0.280  0.571   8351.0  62.922
 26  0.344  0.707  12789.0  62.912
 27  0.120  0.596   7831.0  54.837
 28  0.257  0.710   1152.0  44.821
 29  0.213  0.470   6052.0  61.601
 30    NaN    NaN      NaN     NaN
 31    NaN    NaN      NaN     NaN
 32  0.223  0.764  43295.0  64.545
 33  0.180  0.873  32797.0  71.645  ,
                                                    0       1        2   \
 0                                     United States 7   7.082    0.917
 1                                           Uruguay 6   6.355    0.883
 2                                        Uzbekistan 2   5.623    0.920
 3                                         Venezuela 6   7.039    0.931
 4                                           Vietnam 3   5.533    0.809
 5                                             Yemen 8   4.054    0.683
 6                                            Zambia 9   5.006    0.822
 7                                          Zimbabwe 9   4.827    0.873
 8   Notes for region code: 0. Western Europe; 1. C...     NaN      NaN
 9   South Asia; 5. East Asia; 6. Latin America & C...     NaN      NaN
 10             Table A3. National Averages in 2005-07     NaN      NaN
 11                                                NaN     NaN   Social
 12                                     Country Region  Ladder  support
 13                                      Afghanistan 4   4.051    0.566
 14                                          Albania 1   4.634    0.821
 15                                           Angola 9   4.151    0.772
 16                                        Argentina 6   6.193    0.900
 17                                          Armenia 2   4.586    0.708
 18                                        Australia 7   7.310    0.967
 19                                          Austria 0   7.122    0.936
 20                                       Azerbaijan 2   4.649    0.820
 21                                       Bangladesh 4   4.473    0.587

In [133]:
# Output is a list of dataframes
type(tab_2013)

list

In [134]:
# The last dataframe, captured also the next table
tab_2013[5]

,0,1,2,3,4,5,6,7,8,9,10,11
0,United States 7,7.082,0.917,0.834,0.698,0.621,0.191,0.844,0.254,0.877,42068,69.689
1,Uruguay 6,6.355,0.883,0.852,0.537,0.273,-0.066,0.800,0.232,0.750,12538,66.434
2,Uzbekistan 2,5.623,0.920,0.924,0.597,0.226,-0.005,0.783,0.131,0.786,2756,60.176
3,Venezuela 6,7.039,0.931,0.780,0.755,0.136,-0.196,0.849,0.168,0.808,11182,65.104
4,Vietnam 3,5.533,0.809,0.841,0.766,0.211,-0.024,0.613,0.213,0.637,2905,62.188
5,Yemen 8,4.054,0.683,0.668,0.836,0.080,-0.142,0.518,0.281,0.551,2235,50.780
6,Zambia 9,5.006,0.822,0.726,0.846,0.211,0.027,0.780,0.227,0.792,1416,37.099
7,Zimbabwe 9,4.827,0.873,0.590,0.842,0.094,0.018,0.733,0.170,0.728,309,37.143
8,Notes for region code: 0. Western Europe; 1. C...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,South Asia; 5. East Asia; 6. Latin America & C...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Table A3. National Averages in 2005-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,Social,NaN,NaN,NaN,NaN,Positive,Negative,GDP per,Healthy life,NaN
12,Country Region,Ladder,support,Freedom Corruption Donation,NaN,NaN,Generosity,affect,affect,capita,NaN,expectancy
13,Afghanistan 4,4.051,0.566,0.738,0.744,0.527,0.395,0.644,NaN,0.217 688.215,NaN,35.270
14,Albania 1,4.634,0.821,0.529,0.875,0.272,-0.019,0.553,0.246,6376.64,NaN,61.000
15,Angola 9,4.151,0.772,0.632,0.895,0.334,0.089,0.629,0.322,3354.65,NaN,33.210
16,Argentina 6,6.193,0.900,0.693,0.869,0.192,-0.140,0.826,0.304,11240.4,NaN,64.920
17,Armenia 2,4.586,0.708,0.549,0.847,0.039,-0.226,0.501,0.440,4363.83,NaN,60.919
18,Australia 7,7.310,0.967,0.916,0.433,0.739,0.331,0.834,0.226,32478.9,NaN,72.298
19,Austria 0,7.122,0.936,0.941,0.478,0.705,0.295,0.823,0.174,33626.4,NaN,71.365
20,Azerbaijan 2,4.649,0.820,0.693,0.814,0.062,-0.207,0.516,0.280,5238.69,NaN,57.340
21,Bangladesh 4,4.473,0.587,0.608,0.798,0.239,0.067,0.618,NaN,0.317,1195.5,53.858
22,Belarus 2,5.637,0.898,0.693,0.697,0.069,-0.243,0.601,0.252,9101.46,NaN,60.653
23,Belgium 0,7.240,0.928,0.912,0.666,0.468,0.060,0.805,0.239,32320.1,NaN,70.643
24,Belize 6,6.451,0.872,0.705,0.770,0.296,0.005,0.759,NaN,0.251 6337.18,NaN,60.000
25,Benin 9,3.330,0.445,0.580,0.769,0.179,-0.003,0.587,0.309,1371.34,NaN,43.738
26,Bolivia 6,5.500,0.815,0.775,0.801,0.227,-0.027,0.755,0.410,3828.53,NaN,54.367
27,Bosnia and,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Herzegovina 1,4.900,0.766,0.342,0.929,0.296,0.001,0.613,0.296,6732.96,NaN,64.000
29,Botswana 9,4.739,0.883,0.824,0.731,0.111,-0.222,0.688,0.226,11542.2,NaN,34.965

In [135]:
# drop rows with unwanted table
tab_2013[5].drop(index=np.arange(8,30), axis=0, inplace=True)
tab_2013[5]

,0,1,2,3,4,5,6,7,8,9,10,11
0,United States 7,7.082,0.917,0.834,0.698,0.621,0.191,0.844,0.254,0.877,42068,69.689
1,Uruguay 6,6.355,0.883,0.852,0.537,0.273,-0.066,0.800,0.232,0.750,12538,66.434
2,Uzbekistan 2,5.623,0.920,0.924,0.597,0.226,-0.005,0.783,0.131,0.786,2756,60.176
3,Venezuela 6,7.039,0.931,0.780,0.755,0.136,-0.196,0.849,0.168,0.808,11182,65.104
4,Vietnam 3,5.533,0.809,0.841,0.766,0.211,-0.024,0.613,0.213,0.637,2905,62.188
5,Yemen 8,4.054,0.683,0.668,0.836,0.080,-0.142,0.518,0.281,0.551,2235,50.780
6,Zambia 9,5.006,0.822,0.726,0.846,0.211,0.027,0.780,0.227,0.792,1416,37.099
7,Zimbabwe 9,4.827,0.873,0.590,0.842,0.094,0.018,0.733,0.170,0.728,309,37.143

In [136]:
# split first column to Country and Region as it is in other dataframes
tab_2013[5][['Country', 'Region']]=tab_2013[5][0].str.rsplit(' ', n=1, expand=True)
tab_2013[5]

,0,1,2,3,4,5,6,7,8,9,10,11,Country,Region
0,United States 7,7.082,0.917,0.834,0.698,0.621,0.191,0.844,0.254,0.877,42068,69.689,United States,7
1,Uruguay 6,6.355,0.883,0.852,0.537,0.273,-0.066,0.800,0.232,0.750,12538,66.434,Uruguay,6
2,Uzbekistan 2,5.623,0.920,0.924,0.597,0.226,-0.005,0.783,0.131,0.786,2756,60.176,Uzbekistan,2
3,Venezuela 6,7.039,0.931,0.780,0.755,0.136,-0.196,0.849,0.168,0.808,11182,65.104,Venezuela,6
4,Vietnam 3,5.533,0.809,0.841,0.766,0.211,-0.024,0.613,0.213,0.637,2905,62.188,Vietnam,3
5,Yemen 8,4.054,0.683,0.668,0.836,0.080,-0.142,0.518,0.281,0.551,2235,50.780,Yemen,8
6,Zambia 9,5.006,0.822,0.726,0.846,0.211,0.027,0.780,0.227,0.792,1416,37.099,Zambia,9
7,Zimbabwe 9,4.827,0.873,0.590,0.842,0.094,0.018,0.733,0.170,0.728,309,37.143,Zimbabwe,9

In [155]:
#reorder columns to align with other pages
col_name = {"Country":0, "Region": 1, 1:2, 2:3, 3:4, 4:5, 5:6, 6:7, 7:8, 8:9, 9:10, 10:11, 11:12}
col_order = ['Country', 'Region', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
tab_2013[5] = tab_2013[5][col_order].rename(columns=col_name)
tab_2013[5]

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,United States,7,7.082,0.917,0.834,0.698,0.621,0.191,0.844,0.254,0.877,42068,69.689
1,Uruguay,6,6.355,0.883,0.852,0.537,0.273,-0.066,0.800,0.232,0.750,12538,66.434
2,Uzbekistan,2,5.623,0.920,0.924,0.597,0.226,-0.005,0.783,0.131,0.786,2756,60.176
3,Venezuela,6,7.039,0.931,0.780,0.755,0.136,-0.196,0.849,0.168,0.808,11182,65.104
4,Vietnam,3,5.533,0.809,0.841,0.766,0.211,-0.024,0.613,0.213,0.637,2905,62.188
5,Yemen,8,4.054,0.683,0.668,0.836,0.080,-0.142,0.518,0.281,0.551,2235,50.780
6,Zambia,9,5.006,0.822,0.726,0.846,0.211,0.027,0.780,0.227,0.792,1416,37.099
7,Zimbabwe,9,4.827,0.873,0.590,0.842,0.094,0.018,0.733,0.170,0.728,309,37.143

In [180]:
# concatenate all pages to one table
df_2013 = pd.concat([tab_2013[0],tab_2013[1],tab_2013[3], tab_2013[4], tab_2013[5]], ignore_index = True)
df_2013

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,NaN,NaN,Social,NaN,NaN,NaN,NaN,Positive,Negative,Happiness,GDP per,Healthy life
1,Country,Region,Ladder,support,Freedom,Corruption,Donation,Generosity,affect,affect,(yesterday),capita,expectancy
2,Afghanistan,4,4.040,0.525,0.540,0.755,0.348,0.207,0.663,0.270,0.721,979,36.535
3,Albania,1,5.550,0.759,0.553,0.827,0.112,-0.192,0.627,0.276,0.568,7652,61.417
4,Algeria,8,5.422,0.831,0.551,0.681,0.106,-0.194,0.567,0.245,0.542,7547,61.722
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Venezuela,6,7.039,0.931,0.780,0.755,0.136,-0.196,0.849,0.168,0.808,11182,65.104
129,Vietnam,3,5.533,0.809,0.841,0.766,0.211,-0.024,0.613,0.213,0.637,2905,62.188
130,Yemen,8,4.054,0.683,0.668,0.836,0.08,-0.142,0.518,0.281,0.551,2235,50.780
131,Zambia,9,5.006,0.822,0.726,0.846,0.211,0.027,0.780,0.227,0.792,1416,37.099
132,Zimbabwe,9,4.827,0.873,0.590,0.842,0.094,0.018,0.733,0.170,0.728,309,37.143

In [181]:
# Drop first two rows as it is a header of table
# Rename columns
col_name= {0: "Country", 1: "Region", 2: "Ladder", 3: "Social support", 
4: "Freedom", 5: "Corruption", 6: "Donation", 7: "Generosity", 8: "Positive affect", 
9: "Negative affect", 10: "Happiness (yesterday)", 11: "GDP per capita", 
12: "Healthy life expectancy"}
df_2013.drop(index=[0,1], axis=0, inplace=True)
df_2013.rename(columns=col_name, inplace=True)
df_2013

,Country,Region,Ladder,Social support,Freedom,Corruption,Donation,Generosity,Positive affect,Negative affect,Happiness (yesterday),GDP per capita,Healthy life expectancy
2,Afghanistan,4,4.040,0.525,0.540,0.755,0.348,0.207,0.663,0.270,0.721,979,36.535
3,Albania,1,5.550,0.759,0.553,0.827,0.112,-0.192,0.627,0.276,0.568,7652,61.417
4,Algeria,8,5.422,0.831,0.551,0.681,0.106,-0.194,0.567,0.245,0.542,7547,61.722
5,Angola,9,5.589,0.723,0.584,0.912,0.322,0.046,0.659,0.361,0.708,5172,34.601
6,Argentina,6,6.562,0.906,0.764,0.810,0.199,-0.150,0.847,0.238,0.813,14379,65.543
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Venezuela,6,7.039,0.931,0.780,0.755,0.136,-0.196,0.849,0.168,0.808,11182,65.104
129,Vietnam,3,5.533,0.809,0.841,0.766,0.211,-0.024,0.613,0.213,0.637,2905,62.188
130,Yemen,8,4.054,0.683,0.668,0.836,0.08,-0.142,0.518,0.281,0.551,2235,50.780
131,Zambia,9,5.006,0.822,0.726,0.846,0.211,0.027,0.780,0.227,0.792,1416,37.099
132,Zimbabwe,9,4.827,0.873,0.590,0.842,0.094,0.018,0.733,0.170,0.728,309,37.143